{% extends 'giaovien_templates/base.html' %}
{% block page_title %}
Chinh sua hoc sinh
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Staff</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/luuchinhsuaDiem" method="post">
                  {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label>Ho va ten</label>
                        <input type="text" class="form-control" name="hovaten" placeholder="Ho va ten" value="{{ v_diem.mahs.hovaten }}">
                        <input type="hidden" name="maxulydiem" value="{{ v_diem.maxulydiem }}">
                    </div>

                    <div class="form-group">
                        <label>Ma hoc sinh</label>
                        <input type="text" class="form-control" name="mahs" placeholder="Ma hoc sinh" value="{{ v_diem.mahs.mahs }}" readonly>
                    </div>

                    <div class="form-group">
                        <label>Ngay sinh</label>
                        <input type="text" class="form-control" name="ngaysinh" placeholder="Ngay sinh" value="{{ v_diem.mahs.ngaysinh }}" readonly>
                    </div>
                    
                    <div class="form-group">
                        <label>Ten mon hoc</label>
                        <input type="text" class="form-control" name="tenmonhoc" placeholder="Ten mon hoc" value="{{ v_diem.mamonhoc.tenmonhoc }}" readonly>
                    </div>

                    <div class="form-group">
                        <label>Muc dat duoc</label>
                        <input type="text" class="form-control" name="mucdatduoc" placeholder="Muc dat duoc" value="{{ v_diem.mucdatduoc }}">
                    </div>

                    <div class="form-group">
                        <label>Diem kiem tra dieu kien</label>
                        <input type="text" class="form-control" name="diem" placeholder="Diem" value="{{ v_diem.diem }}">
                    </div>
                            
 
                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Save Staff</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
