{% extends 'giaovien_templates/base.html' %}
{% block page_title %}
Xem diem hoc sinh
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Teacher Details</h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Ma xu ly diem</th>
                      <th>Ma HS</th>
                      <th>Ten mon hoc</th>
                      <th>Muc dat duoc</th>
                      <th>Diem kiem tra dieu kien</th>
                      <th>Hanh dong</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for entry in v_diem %}
                  {% if entry.mahs.mahs == hocsinh.mahs %}
                    <tr>
                      <td>{{ entry.maxulydiem }}</td>
                      <td>{{ entry.mahs.mahs }}</td>
                      <td>{{ entry.mamonhoc.tenmonhoc }}</td>
                      <td>{{ entry.mucdatduoc }}</td>
                      <td>{{ entry.diem}}</td>
                      <td>
                        <a href="/chinhsuaDiem/{{ entry.maxulydiem }}" class="btn btn-success">Sua</a>
                        <a href="/xoaDiem/{{ entry.maxulydiem }}" class="btn btn-success" style="background-color: rgb(176, 0, 0);">Xoa</a>
                      </td>
                    </tr>
                  {% endif %}
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
