{% load static %}
    <!-- Sidebar -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">

    </a>

    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static "dist/img/user2-160x160.jpg" %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ user.hovaten }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/themHocSinh" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Them hoc sinh
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/quanlyHocSinh" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Quan ly hoc sinh
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/timHocSinh" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Tim hoc sinh
              </p>
            </a>
          </li>
          
          <li class="nav-item">
            <a href="/thongkeDiemLop/{{ user.giaovien.malop.malop }}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Thong ke diem cua lop
              </p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>