{% extends 'giaovien_templates/base.html' %}
{% block page_title %}
Xóa điểm
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Xoá điểm</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/luuxoaDiem" method="post">
                  {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label>Họ và tên</label>
                        <input type="text" class="form-control" name="hovaten" placeholder="Ho va ten" value="{{ v_diem.mahs.hovaten }}">
                        <input type="hidden"  name="maxulydiem" value="{{ v_diem.maxulydiem }}">
                    </div>

                    <div class="form-group">
                        <label>Mã học sinh</label>
                        <input type="text" class="form-control" name="mahs" placeholder="Ma hoc sinh" value="{{ v_diem.mahs.mahs }}" readonly>
                    </div>

                    <div class="form-group">
                        <label>Ngày sinh</label>
                        <input type="text" class="form-control" name="ngaysinh" placeholder="Ngay sinh" value="{{ v_diem.mahs.ngaysinh }}" readonly>
                    </div>
                    
                    <div class="form-group">
                        <label>Tên môn học</label>
                        <input type="text" class="form-control" name="tenmonhoc" placeholder="Ten mon hoc" value="{{ v_diem.mamonhoc.tenmonhoc }}" readonly>
                    </div>

                    <div class="form-group">
                        <label>Mức đạt được</label>
                        <input type="text" class="form-control" name="mucdatduoc" placeholder="Muc dat duoc" value="{{ v_diem.mucdatduoc }}" readonly>
                    </div>

                    <div class="form-group">
                        <label>Điểm kiểm tra điều kiện</label>
                        <input type="text" class="form-control" name="diem" placeholder="Diem" value="{{ v_diem.diem }}" readonly>
                    </div>
                    
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block" style="background-color: rgb(176, 0, 0);">Xoa hoc sinh</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
