{% extends 'admin_templates/base.html' %}
{% block page_title %}
Kết quả tìm môn học
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


           <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Kết quả tìm môn học</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                        <th>Mã môn học</th>
                        <th>Tên môn học</th>
                        <th>Số tiết</th>
                        <th>Hành động</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ monhoc.mamonhoc }}</td>
                        <td>{{ monhoc.tenmonhoc }}</td>
                        <td>{{ monhoc.sotiet }}</td>
                        <td>
                          <a href="/chinhsuaMonHoc/{{ monhoc.mamonhoc }}" class="btn btn-success">Sửa</a>
                          <a href="/xoaMonHoc/{{ monhoc.mamonhoc }}" class="btn btn-success" style="background-color: rgb(176, 0, 0);">Xóa</a>
                      </td>
                      </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
