{% extends 'nhanvien_templates/base.html' %}
{% block page_title %}
Chỉnh sửa giáo viên
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Chỉnh sửa giáo viên</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/NVluuchinhsuaGiaoVien" method="post">
                  {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label>Họ và tên</label>
                        <input type="text" class="form-control" name="hovaten" placeholder="Ho va ten" value="{{ giaovien.admin.hovaten }}">
                        <input type="hidden"  name="mand" value="{{ giaovien.admin.mand }}">
                    </div>

                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Username" value="{{ giaovien.admin.username }}">
                    </div>

                    <!-- <div class="form-group">
                        <label>Ngay sinh</label>
                        <input type="text" class="form-control" name="ngaysinh" placeholder="Ngay sinh" onfocus="(this.type='date')" onblur="(this.type='text')" value="{{ giaovien.admin.ngaysinh }}">
                    </div> -->
                    
                    <div class="form-group">
                        <label>Giới tính</label>
                        <input type="text" class="form-control" name="gioitinh" placeholder="Gioi tinh" value="{{ giaovien.admin.gioitinh }}">
                    </div>

                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input type="text" class="form-control" name="diachi" placeholder="Dia chi" value="{{ giaovien.admin.diachi }}">
                    </div>

                    <div class="form-group">
                        <label>CCCD</label>
                        <input type="text" class="form-control" name="cccd" placeholder="CCCD" value="{{ giaovien.admin.cccd }}">
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter email" value="{{ giaovien.admin.email }}">
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password" value="{{ giaovien.admin.password }}">
                    </div>

                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <input type="text" class="form-control" name="sdt" placeholder="So dien thoai" value="{{ giaovien.admin.sdt }}">
                    </div>

                    <!-- <div class="form-group">
                        <label>Ngay bat dau</label>
                        <input type="text" class="form-control" name="ngaybatdau" placeholder="Ngay bat dau" onfocus="(this.type='date')" onblur="(this.type='text')" value="{{ giaovien.admin.ngaybatdau }}">
                    </div> -->

                    <div class="form-group">
                        <label>Tên lớp</label>
                        <input type="text" class="form-control" name="tenlop" placeholder="Ten lop" value="{{ giaovien.malop.tenlop }}">
                    </div>

                    <div class="form-group">
                        <label>Tên môn học</label>
                        <input type="text" class="form-control" name="tenmonhoc" placeholder="Ten mon hoc" value="{{ giaovien.mamonhoc.tenmonhoc }}">
                    </div>
 
                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Lưu</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
